@if (componentStates().componentA) { 
    <div class="loading-page" [@fadeInOut]>
        <video autoplay loop muted>
            <source src="/assets/params/images/coming-soon/loading-video.mp4" type="video/mp4">
        </video>
        <div class="loading-horse-group-container">   
            <img class="image" alt="" src="/assets/params/images/coming-soon/loading-horse.svg">
            <div class="loading-horse-animation-container">
                <img class="image2" alt="" src="/assets/params/images/coming-soon/horse-gif.gif">
                <img id="layer2" src="/assets/params/images/coming-soon/texture.png" alt="">
            </div>
            <div id="loading-percent"></div>
        </div>
        <div class="inspired-by-the-container">
            <hr class="custom-top">
            Inspired by the visionary work of Eadweard Muybridge <br>
            and his “The Horse in Motion”, we aim to capture the <br>
            essence of movement and innovation. <br>
        </div>
    </div>
}

@if (componentStates().componentB) {
    <app-eye-ball-mobile [@fadeInOut]/>
}
