<div class="loading-page">
    <video autoplay loop [muted]="true" class="eye-ball">
        <source src="/assets/params/images/coming-soon/eye-ball-video.mp4" type="video/mp4">
    </video>
    <video autoplay loop [muted]="true" class="dust-grain">
        <source src="/assets/params/images/coming-soon/loading-video.mp4" type="video/mp4">
    </video>
    <video autoplay loop [muted]="true" class="light-overlay">
        <source src="/assets/params/images/coming-soon/light-leaks-overlay.mp4" type="video/mp4">
    </video>
    <img class="grunge" src="/assets/params/images/coming-soon/grunge.png" alt="">

    <div class="main-container">
        <div class="coming-soon-container">
            <div class="appointment">
                <button type="button" class="appointment-btn" (click)="openAppointment()">
                    <img class="appointment-img" src="/assets/params/images/coming-soon/appointment.gif" alt="">
                </button>
            </div>
            <div class="coming">Coming</div>
            <div class="soon">soon</div>
            <div class="where" [class.important-style]="isStyled">Where Vision Meets Innovation</div>
            <div class="tape" [class.important-style]="isStyled">
                <img src="/assets/params/images/coming-soon/tape.gif" alt="">
            </div>
        </div>
        
        <div class="file-container">
            <div class="video5-container">
                <img src="/assets/params/images/coming-soon/frame-5.svg" class="frame-prodigma" alt="">
                <video autoplay loop [muted]="true" class="video-5">
                    <source src="/assets/params/images/coming-soon/video-5.mp4" type="video/mp4">
                </video>
                <img src="/assets/params/images/coming-soon/plyonka-5.png" class="plyonka" alt="">
                <img src="/assets/params/images/coming-soon/texture-5.png" class="plyonka" alt="">
            </div>
            <div class="video4-container">
                <img src="/assets/params/images/coming-soon/frame-4.svg" class="frame-prodigma" alt="">
                <video autoplay loop [muted]="true" class="video-4">
                    <source src="/assets/params/images/coming-soon/video-4.mp4" type="video/mp4">
                </video>
                <img src="/assets/params/images/coming-soon/plyonka-4.png" class="plyonka" alt="">
                <img src="/assets/params/images/coming-soon/texture-4.png" class="plyonka" alt="">
            </div>
            <div class="video3-container">
                <img src="/assets/params/images/coming-soon/frame-5.svg" class="frame-prodigma" alt="">
                <video autoplay loop [muted]="true" class="video-3">
                    <source src="/assets/params/images/coming-soon/video-3.mp4" type="video/mp4">
                </video>
                <img src="/assets/params/images/coming-soon/plyonka-5.png" class="plyonka" alt="">
                <img src="/assets/params/images/coming-soon/texture-5.png" class="plyonka" alt="">
            </div>
            <div class="video2-container">
                <img src="/assets/params/images/coming-soon/frame-5.svg" class="frame-prodigma" alt="">
                <video autoplay loop [muted]="true" class="video-2">
                    <source src="/assets/params/images/coming-soon/video-2.mp4" type="video/mp4">
                </video>
                <img src="/assets/params/images/coming-soon/plyonka-5.png" class="plyonka" alt="">
                <img src="/assets/params/images/coming-soon/texture-5.png" class="plyonka" alt="">
            </div>
            <div class="video1-container">
                <img src="/assets/params/images/coming-soon/frame-4.svg" class="frame-prodigma" alt="">
                <video autoplay loop [muted]="true" class="video-1">
                    <source src="/assets/params/images/coming-soon/video-1.mp4" type="video/mp4">
                </video>
                <img src="/assets/params/images/coming-soon/plyonka-4.png" class="plyonka" alt="">
                <img src="/assets/params/images/coming-soon/texture-4.png" class="plyonka" alt="">
            </div>
            <div class="duct-tape-container">
                <img src="/assets/params/images/coming-soon/duct-tape.svg" alt="">
            </div>
            <div class="logo-pin-container">
                <img src="/assets/params/images/coming-soon/logo-pin.png" alt="">
            </div>
            <div class="prodigma-org-container">
                <img src="/assets/params/images/coming-soon/prodigma-org.svg" alt="">
            </div>
            <div class="prodigma-pin-container">
                <img src="/assets/params/images/coming-soon/prodigma-pin.png" alt="">
            </div>
            <div class="video-pin-container">
                <img src="/assets/params/images/coming-soon/video-pin.png" alt="">
            </div>
            <div class="photo-pin-container">
                <img src="/assets/params/images/coming-soon/photo-pin.png" alt="">
            </div>
            <div class="design-pin-container">
                <img src="/assets/params/images/coming-soon/design-pin.png" alt="">
            </div>
            <div class="dev-pin-container">
                <img src="/assets/params/images/coming-soon/dev-pin.png" alt="">
            </div>

            <img class="skotch" src="/assets/params/images/coming-soon/skotch.png" alt="">
    		<img class="file-icon" alt="" src="/assets/params/images/coming-soon/file.png">
            <img class="grid" alt="" src="/assets/params/images/coming-soon/grid.svg">
    		
        </div>

        <div class="p-btn-container">
            <span class="press">Press</span>
            
            <svg width="78" height="61" viewBox="0 0 78 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Button-P">
                    <path id="Vector" d="M34.7782 0.5H76.6028L43.5006 60.5H1.676L34.7782 0.5Z" stroke="#F1F0EB"/>
                    <path id="Vector_2" d="M38.349 44.8366H36.2935V15.5774H40.9479C41.406 15.5774 41.8993 15.6726 42.4338 15.863C43.3089 16.1486 44.0518 16.6339 44.6597 17.3188C45.2676 18.0036 45.6112 18.9004 45.6875 20.0061C45.7433 20.7493 45.7815 21.4741 45.802 22.1774C45.802 27.6441 45.7639 30.9978 45.6875 32.2355C45.5554 33.7036 44.9739 34.8061 43.9461 35.5493C43.0329 36.2557 42.0609 36.6151 41.0331 36.6366H38.349V44.8366ZM41.0624 34.4929C41.2533 34.4744 41.4824 34.4161 41.7466 34.3209C42.7744 33.9984 43.3735 33.2552 43.5468 32.0912C43.6407 30.4911 43.6995 28.501 43.7171 26.1208C43.6965 23.7222 43.6407 21.7198 43.5468 20.1197C43.3764 18.9588 42.7744 18.2155 41.7466 17.89C41.4618 17.7948 41.2122 17.7457 41.0037 17.7457H38.349V34.4898H41.0624V34.4929Z" fill="#F1F0EB"/>
                </g>
            </svg>
                
             <span class="on-keyboard">on keyboard</span>
        </div>

        <div class="screen-container">
            <span>Press and hold the screen</span>
        </div>
    </div>

    <div class="links-container">
        <div>
            <div class="social-media-parent">
                <div>
                    <div class="social-media">SOCIAL MEDIA</div>
                    <span class="instagram"><a target="_blank" href="https://www.instagram.com/prodigma.media">INSTAGRAM</a>  </span>
                    <hr class="midline">
                    <span class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/prodigmamedia">LINKEDIN</a></span>
                </div>
            </div>
            <div class="portfolio-parent">
                <div>
                    <div class="social-media">PORTFOLIO</div>
                    <span class="behance"><a target="_blank" href="https://www.behance.net/Prodigma">BEHANCE</a></span>
                    <hr class="midline">
                    <span class="dribble"><a target="_blank" href="https://dribbble.com/Prodigma">DRIBBBLE</a></span>
                </div>
            </div>
        </div>
        <div>
            <div class="get-in-touch-parent">
                <div>
                    <div class="social-media">GET IN TOUCH</div>
                    <div class="helloprodigmaorg"><a target="_blank" href="mailto:hello@prodigma.org">HELLO&#64;PRODIGMA.ORG</a></div>
                </div>
            </div>
            <div class="prodigma-mmc-2024-parent">
                <div>
                    <div class="prodigma-mmc-2024">© PRODIGMA LLC 2024</div>
                    <div class="all-rights-reserved">ALL RIGHTS RESERVED</div>
                </div>
            </div>
        </div>
    </div>

</div>