@use 'sass:list';

.loading-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #f1f0eb;
    font-family: 'Panton-Light';
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.eye-ball {
    @extend .overlay;
}

.dust-grain {
    @extend .overlay;
    opacity: 60%;
}

.light-overlay {
    @extend .overlay;
    opacity: 50%;
}

.grunge{
    @extend .overlay;
    mix-blend-mode: soft-light;
}

.main-container{
    position: absolute;
    top: 0;
    width: 1440px;
    height: 100%;
}

.coming-soon-container{
    position: absolute;
    top: 20vh;
    left: 70px;
    z-index: 4;
    font-family: 'Gennaro';
    text-align: end;
    transition: top 0.5s ease-in-out;

    .appointment{
        position: absolute;
        top: -1vh;
        width: 100%;
        height: auto;
        text-align: end;
        padding-right: 0.5vw;
        transition: all 0.5s ease-in-out;

        .appointment-btn {
            all: unset;
            display: inline-block;
            width: 210px;
            height: 50px;
            cursor: pointer;            
        }

        .appointment-img {
            width: 100% !important;
            height: auto;
            background-color: transparent;
            object-fit: cover;
        }
    }

    .coming {
        color: #D33D25;
        font-size: 30rem;
        line-height: 15rem;
        transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out;
        pointer-events: none;
    }

    .soon {
        font-size: 15rem;
        line-height: 8rem;
        transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out;
        pointer-events: none;
    }

    .where{
        position: absolute;
        top: 125px;
        left: 88px;
        font-size: 1.4rem;
        z-index: 5;
        padding: 0 1.5rem;
        font-family: 'Panton-Regular';
        background-color: white;
        color: black;
        transition: top 0.5s ease-in-out, left 0.5s ease-in-out, font-size 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    
    .tape{
        position: absolute;
        top: 15px;
        left: -119px;
        width: 572px;
        z-index: 5;
        transition: top 0.5s ease-in-out, left 0.5s ease-in-out, width 0.5s ease-in-out;
    
        img {
            width: 100%;
        }
    }
}

.p-btn-container{
    position: absolute;
    bottom: 22vh;
    left: 563px;
    z-index: 4;
    font-family: 'Panton-Regular';
    line-height: 61px;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.screen-container{
    display: none;
    position: absolute;
    top: 65%;
    left: 35%;
    z-index: 4;
    font-family: 'Panton-Regular';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.5s ease-in-out;
}

.press, #Vector, #Vector_2, .on-keyboard {
    transition: all 0.3s ease-in-out;
}

.p-btn-container:hover {
    opacity: 1 !important;
}

.p-btn-container:hover .press {
    transform: translateX(-10px);
}

.p-btn-container svg:hover #Vector {
    fill: #F1F0EB;
}

.p-btn-container svg:hover #Vector_2 {
    fill: #d33d25;
}

.p-btn-container:hover .on-keyboard {
    transform: translateX(10px);
}

.file-container{
    width: 532px;
    height: 739px;
    position: absolute;
    top: 5vh;
    right: 70px;
    transition: all 0.5s ease-in-out;

    .grid{
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4;
        transition: all 0.5s ease-in-out;
    }
    
    .file-icon{
        width: 452px;
        position: absolute;
        top: 60px;
        right: 49px;
        z-index: 6;
        transition: all 0.5s ease-in-out;
    }
    
    .skotch{
        position: absolute;
        top: 0px;
        right: -1px;
        z-index: 7;
        transition: all 0.5s ease-in-out;
    }

    .frame-prodigma{
        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
    }

    .plyonka{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        mix-blend-mode: luminosity;
    }

    $videos: (
      1: (102px, 80px, -8deg, -9deg),
      2: (161px, 160px, 4deg, 9deg),
      3: (141px, 245px, 2deg, 9deg),
      4: (242px, 160px, -4deg, -9deg),
      5: (338px, 250px, 2deg, 9deg)
    );
    
    @each $num, $values in $videos {
      .video#{$num}-container {
        position: absolute;
        top: list.nth($values, 1);
        left: list.nth($values, 2);
        rotate: list.nth($values, 3);
        z-index: 5;
        transition: all 0.5s ease-in-out;
    
        .video-#{$num} {
          position: absolute;
          top: 24px;
          right: 48px;
          width: 136px;
          height: 201px;
          z-index: 5;
          rotate: list.nth($values, 4);
          object-fit: cover;
        }
      }
    }
      
    .pin-container {
        position: absolute;
        height: auto;
        z-index: 5;
        transition: all 0.5s ease-in-out;
        img {
            width: 100%;
            height: auto;
        }
    }
    
    .duct-tape-container {
        @extend .pin-container;
        width: 226px;
        bottom: 45px;
        right: 50px;
    }
    
    .logo-pin-container {
        @extend .pin-container;
        width: 103px;
        top: 580px;
        left: 220px;
    }
    
    .prodigma-org-container {
        @extend .pin-container;
        width: 164px;
        top: 625px;
        right: 299px;
    }
    
    .prodigma-pin-container {
        @extend .pin-container;
        width: 120px;
        top: 500px;
        left: 110px;
    }
    
    .video-pin-container {
        @extend .pin-container;
        width: 150px;
        top: 540px;
        left: 180px;
    }
    
    .photo-pin-container {
        @extend .pin-container;
        width: 150px;
        top: 520px;
        left: 260px;
    }
    
    .design-pin-container {
        @extend .pin-container;
        width: 150px;
        top: 520px;
        left: 350px;
    }
    
    .dev-pin-container {
        @extend .pin-container;
        width: 150px;
        top: 575px;
        left: 280px;
    }
}

.links-container{
    position: absolute;
    bottom: 30px;
    width: 1440px;
    height: 65px;
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Panton-Regular';
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
}

.links-container > div {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.prodigma-mmc-2024,
.all-rights-reserved {
    text-align: end;
}

.midline{
    display: inline-block;
    width: 24px;
    margin: 8px;
}

.instagram,
.linkedin,
.behance,
.dribble,
.helloprodigmaorg {
    transition: all 0.3s ease-in-out;
}

.instagram:hover,
.linkedin:hover,
.behance:hover,
.dribble:hover,
.helloprodigmaorg:hover {
    color: #d33d25;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .main-container {
        width: 100vw !important;
    }

    .appointment-btn {
        width: 140px !important;
        height: 35px !important;
    }

    .coming{
        font-size: 15rem !important;
        line-height: 7.5rem !important;
    }
    
    .soon{
        font-size: 7.5rem !important;
        line-height: 4rem !important;
    }

    .coming-soon-container .where {
        top: 110px;
        left: 45px !important;
        font-size: 0.7rem !important;
        padding: 0 0.75rem !important;
    }

    .coming-soon-container .tape{
        top: 60px;
        left: -59px !important;
        width: 296px !important;
    }

    .file-container {
        position: absolute;
        top: 116px;
        right: 78px;
        width: 343px;
        height: 497px;

        .file-icon {
            position: absolute;
            top: 45px;
            right: 36px;
            width: 280px;
            height: 416px;
            z-index: 6;
            transition: all 0.5s ease-in-out;
        }
        .skotch {
            width: 158px;
            height: auto;
        }


        .video1-container{
            position: absolute;
            top: 75px;
            left: 60px;
            width: 147px;
            height: 161px;
            rotate: -3deg;

            img{
                width: 100%;
                height: auto;
            }

            .video-1{
                top: 16px;
                right: 32px;
                width: 84px;
                height: 128px;
            }
        
        }

        .video2-container{
            top: 119px;
            left: 100px;
            width: 147px;
            height: 161px;
            rotate: 9deg;
        
            img{
                width: 100%;
                height: auto;
            }
        
            .video-2{
                top: 16px;
                right: 32px;
                width: 84px;
                height: 128px;
            }
        }

        .video3-container{
            top: 106px;
            left: 155px;
            width: 147px;
            height: 161px;

            img{
                width: 100%;
                height: auto;
            }

            .video-3{
                top: 16px;
                right: 32px;
                width: 84px;
                height: 128px;
            }
        
        }

        .video4-container{
            top: 165px;
            left: 100px;
            width: 147px;
            height: 161px;
            rotate: 1deg;

            img{
                width: 100%;
                height: auto;
            }

            .video-4{
                top: 16px;
                right: 32px;
                width: 84px;
                height: 128px;
            }
        
        }

        .video5-container{
            top: 230px;
            left: 150px;
            width: 147px;
            height: 161px;

            img{
                width: 100%;
                height: auto;
            }

            .video-5{
                top: 16px;
                right: 32px;
                width: 84px;
                height: 128px;
            }
        
        }

        .duct-tape-container{
            width: 147px;
            top: 363px;
            right: 36px;

            img {
                width: 100%;
                height: auto;
            }
        }
        
        .logo-pin-container{
            width: 76px;
            top: 380px;
            left: 135px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .prodigma-org-container{
            width: 102px;
            top: 412px;
            right: 191px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .prodigma-pin-container{
            width: 89px;
            top: 325px;
            left: 60px; 

            img {
                width: 100%;
                height: auto;
            }
        }

        .video-pin-container{
            width: 93px;
            top: 354px;
            left: 117.5px;

            img {
                width: 100%;
                height: auto;
            }
        }
        
        .photo-pin-container{
            width: 92px;
            top: 350px;
            left: 170px;

            img {
                width: 100%;
                height: auto;
            }
        }
        
        .design-pin-container{
            width: 92px;
            height: auto;
            top: 347px;
            left: 220px;

            img {
                width: 100%;
                height: auto;
            }
        }
        
        .dev-pin-container{
            width: 92px;
            top: 384px;
            left: 180px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .p-btn-container{
        display: none;
    }

    .screen-container{
        display: block;
    }

    .links-container {
        width: 100vw;
        bottom: 104px;
        justify-content: center;
    }

    .links-container > div {
        flex-direction: column;
    }

    .get-in-touch-parent,
    .prodigma-mmc-2024-parent {
        display: flex;
        justify-content: end;
    }

    .portfolio-parent,
    .prodigma-mmc-2024-parent{
        margin-top: 24px;
    }

    .prodigma-mmc-2024,
    .all-rights-reserved {
        text-align: start;
    }

    .where.important-style {
        top: 105px !important;
    }
      
    .tape.important-style {
        top: 55px !important;
    }

}