<div class="scroll-container">
    <video autoplay loop [muted]="true" class="dust-grain">
        <source src="/assets/params/images/coming-soon/loading-video.mp4" type="video/mp4">
    </video>
    <video autoplay loop [muted]="true" class="light-overlay">
        <source src="/assets/params/images/coming-soon/light-leaks-overlay.mp4" type="video/mp4">
    </video>
    <div class="section section-1">
        <div class="coming-soon-container">
            <div class="coming">Coming</div>
            <div class="soon">soon</div>
            <div class="where">Where Vision Meets Innovation</div>
            <div class="logo-pin-container">
                <img src="/assets/params/images/coming-soon/logo-pin.png" alt="">
            </div>
            <img class="skotch" src="/assets/params/images/coming-soon/skotch.png" alt="">
        </div>
        <div class="grid">
            <img src="/assets/params/images/coming-soon/grid.svg" alt="">
        </div>
    </div>
    <div class="section section-2">
      Second Section (40% of view height)
    </div>
    <div class="section section-3">
      Third Section (80% of view height)
    </div>
</div>
  