<div class="scroll-container">
    <video autoplay loop [muted]="true" class="dust-grain">
        <source src="/assets/params/images/coming-soon/loading-video.mp4" type="video/mp4">
    </video>
    <video autoplay loop [muted]="true" class="light-overlay">
        <source src="/assets/params/images/coming-soon/light-leaks-overlay.mp4" type="video/mp4">
    </video>
    <img class="grunge" src="/assets/params/images/coming-soon/grunge.png" alt="">

    <div class="section section-1">
        <div class="coming-soon-container">
            <div class="coming">Coming</div>
            <div class="soon">soon</div>
            <div class="where">Where Vision Meets Innovation</div>
            <div class="logo-pin-container">
                <img src="/assets/params/images/coming-soon/logo-pin.png" alt="">
            </div>
            <img class="skotch" src="/assets/params/images/coming-soon/skotch.png" alt="">
        </div>
        <div class="grid">
            <img src="/assets/params/images/coming-soon/grid.svg" alt="">

            <div
              #videoContainer
              class="video5-container video-container"
              [attr.data-z]="zIndexOrder[0]"
              [ngStyle]="{ 'z-index': zIndexOrder[0], 'transform': 'translate(-50%, -50%) rotate(' + getRotateAngle(zIndexOrder[0]) + ')' }"
              [class.top-video]="zIndexOrder[0] === 5"
            >
              <img src="/assets/params/images/coming-soon/frame.png" class="frame-prodigma" alt="" />
              <video autoplay loop [muted]="true" class="video-5">
                <source src="/assets/params/images/coming-soon/video-5.mp4" type="video/mp4" />
              </video>
              <img src="/assets/params/images/coming-soon/frame-plyonka.png" class="plyonka" alt="" />
              <img src="/assets/params/images/coming-soon/frame-texture.png" class="plyonka" alt="" />
            </div>

            <div
              #videoContainer
              class="video4-container video-container"
              [attr.data-z]="zIndexOrder[1]"
              [ngStyle]="{ 'z-index': zIndexOrder[1], 'transform': 'translate(-50%, -50%) rotate(' + getRotateAngle(zIndexOrder[1]) + ')' }"
              [class.top-video]="zIndexOrder[1] === 5"
            >
              <img src="/assets/params/images/coming-soon/frame.png" class="frame-prodigma" alt="" />
              <video autoplay loop [muted]="true" class="video-4">
                <source src="/assets/params/images/coming-soon/video-4.mp4" type="video/mp4" />
              </video>
              <img src="/assets/params/images/coming-soon/frame-plyonka.png" class="plyonka" alt="" />
              <img src="/assets/params/images/coming-soon/frame-texture.png" class="plyonka" alt="" />
            </div>

            <div
              #videoContainer
              class="video3-container video-container"
              [attr.data-z]="zIndexOrder[2]"
              [ngStyle]="{ 'z-index': zIndexOrder[2], 'transform': 'translate(-50%, -50%) rotate(' + getRotateAngle(zIndexOrder[2]) + ')' }"
              [class.top-video]="zIndexOrder[2] === 5"
            >
              <img src="/assets/params/images/coming-soon/frame.png" class="frame-prodigma" alt="" />
              <video autoplay loop [muted]="true" class="video-3">
                <source src="/assets/params/images/coming-soon/video-3.mp4" type="video/mp4" />
              </video>
              <img src="/assets/params/images/coming-soon/frame-plyonka.png" class="plyonka" alt="" />
              <img src="/assets/params/images/coming-soon/frame-texture.png" class="plyonka" alt="" />
            </div>

            <div
              #videoContainer
              class="video2-container video-container"
              [attr.data-z]="zIndexOrder[3]"
              [ngStyle]="{ 'z-index': zIndexOrder[3], 'transform': 'translate(-50%, -50%) rotate(' + getRotateAngle(zIndexOrder[3]) + ')' }"
              [class.top-video]="zIndexOrder[3] === 5"
            >
              <img src="/assets/params/images/coming-soon/frame.png" class="frame-prodigma" alt="" />
              <video autoplay loop [muted]="true" class="video-2">
                <source src="/assets/params/images/coming-soon/video-2.mp4" type="video/mp4" />
              </video>
              <img src="/assets/params/images/coming-soon/frame-plyonka.png" class="plyonka" alt="" />
              <img src="/assets/params/images/coming-soon/frame-texture.png" class="plyonka" alt="" />
            </div>

            <div
              #videoContainer
              class="video1-container video-container"
              [attr.data-z]="zIndexOrder[4]"
              [ngStyle]="{ 'z-index': zIndexOrder[4], 'transform': 'translate(-50%, -50%) rotate(' + getRotateAngle(zIndexOrder[4]) + ')' }"
              [class.top-video]="zIndexOrder[4] === 5"
            >
              <img src="/assets/params/images/coming-soon/frame.png" class="frame-prodigma" alt="" />
              <video autoplay loop [muted]="true" class="video-1">
                <source src="/assets/params/images/coming-soon/video-1.mp4" type="video/mp4" />
              </video>
              <img src="/assets/params/images/coming-soon/frame-plyonka.png" class="plyonka" alt="" />
              <img src="/assets/params/images/coming-soon/frame-texture.png" class="plyonka" alt="" />
            </div>
            
            <div class="prodigma-org-container">
              <img src="/assets/params/images/coming-soon/prodigma-org.svg" alt="">
            </div>

            <div class="swap-container">
              <span class="swap-text">Swap it</span>
              <img class="circle" src="/assets/params/images/coming-soon/Circle.png" alt="">
              <img class="arrow" src="/assets/params/images/coming-soon/Arrow.png" alt="">
            </div>
        </div>
    </div>

    <div class="section section-2">
      <div class="pins">
        <img src="/assets/params/images/coming-soon/eye-ball.gif" alt="" class="eye">
        <img src="/assets/params/images/coming-soon/plastic.png" alt="" class="plastic">
        <img src="/assets/params/images/coming-soon/pins.svg" alt="" class="text-pin">

        <img src="/assets/params/images/coming-soon/skoch-1.png" alt="" class="skoch-1">
        <img src="/assets/params/images/coming-soon/skoch-2.png" alt="" class="skoch-2">
        <img src="/assets/params/images/coming-soon/skoch-3.png" alt="" class="skoch-3">
        <img src="/assets/params/images/coming-soon/skoch-4.png" alt="" class="skoch-4">
      </div>
    </div>

    <div class="section section-3">
        <img src="/assets/params/images/coming-soon/prodigma-pin.png" alt="" class="prodigma-pin">
        <div class="links-container">
            <div>
                <button type="button" class="appointment-btn" (click)="openAppointment()">
                    <img class="appointment-img" src="/assets/params/images/coming-soon/appointment.gif" alt="">
                </button>
            </div>
            <div>
                <div class="social-media">SOCIAL MEDIA</div>
                <div>                
                    <span class="instagram"><a target="_blank" href="https://www.instagram.com/prodigma.media">INSTAGRAM</a></span>
                    <hr class="midline">
                    <span class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/prodigmamedia">LINKEDIN</a></span>
                </div>
            </div>
            <div>
                <div class="social-media">PORTFOLIO</div>
                <div>
                    <span class="behance"><a target="_blank" href="https://www.behance.net/Prodigma">BEHANCE</a></span>
                    <hr class="midline">
                    <span class="dribble"><a target="_blank" href="https://dribbble.com/Prodigma">DRIBBBLE</a></span>
                </div>
            </div>
            <div>
            <div class="social-media">GET IN TOUCH</div>
                <div class="helloprodigmaorg"><a target="_blank" href="mailto:hello@prodigma.org">HELLO&#64;PRODIGMA.ORG</a></div>
            </div>
            <div>
                <div class="prodigma-mmc-2024">© PRODIGMA LLC 2024</div>
                <div class="all-rights-reserved">ALL RIGHTS RESERVED</div>
            </div>
        </div>
    </div>
</div>