    <div class="loading-page" [class.hidden]="!componentStates().componentA" [@fadeInOut]>
        <video autoplay loop [muted]="true" class="bg-video">
            <source src="/assets/params/images/final-assets/desktop-version/videos/prodigmacomingsoon-home-bg-grain.webm" type="video/mp4">
        </video>
        <div class="loading-horse-group-container">   
            <img class="image" alt="" src="/assets/params/images/coming-soon/loading-horse.svg">
            <div class="loading-horse-animation-container">
                <video autoplay loop [muted]="true" class="image2">
                    <source src="/assets/params/images/final-assets/desktop-version/gifs/prodigmacomingsoon-loading-horeasnimation-600x500.webm" type="video/mp4">
                </video>
                <img id="layer2" src="/assets/params/images/coming-soon/texture.png" alt="">
            </div>
            <div id="loading-percent"></div>
        </div>
        <div class="inspired-by-the-container">
            <p class="inspired-by-the">Inspired by the visionary work of Eadweard Muybridge </p>
            <p class="inspired-by-the">and his “The Horse in Motion”, we aim to capture the </p>
            <p class="inspired-by-the">essence of movement and innovation.</p>
        </div>
    </div>

    <app-eye-ball-page [class.hidden]="!componentStates().componentB" [@fadeInOut]/>